[submodule "Walker/vendor/DirectXMath"]
	path = Walker/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "Walker/vendor/imgui"]
	path = Walker/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Walker/vendor/DIContainer"]
	path = Walker/vendor/DIContainer
	url = git@github.com:utkucnay/DIContainer.git
[submodule "Walker/vendor/Streamline"]
	path = Walker/vendor/Streamline
	url = https://github.com/NVIDIAGameWorks/Streamline
[submodule "Walker/vendor/PhysX"]
	path = Walker/vendor/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX
